
.filter-bar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(0, 0, 0, 0.3); */
}

.new-entry-button {
    height: 40px;
    background-color: lightgrey;
    border: solid 2px black;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.column-entries-container-closed{
    width: 100%;
    height: auto;
    position: absolute;
    top: 250px;
    /* background-color: rgb(57, 83, 213); */
    /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1f71db 51%, #2cb5e8 75%); */
}

.column-entries-container{
    width: 100%;
    position: relative;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    /* top: 250px; */
    /* background-color: rgb(57, 83, 213); */
    /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1f71db 51%, #2cb5e8 75%);
     */
     /* background-color: #88BBE9; */
    transition: 1s max-height;
}


.pro-list-ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: minmax(0px, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 35px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  animation: fade 0.7s forwards;
  min-height: 450px;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.pro-list-item{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    margin: 10px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    height: 400px;
    margin: 0;
    /* bottom: 0; */
    transition: 0.5s box-shadow;
    border: solid black 2px;
}

.pro-list-item > div {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.collapsed-title{
    grid-column: 1/4;
    grid-row: 2/2;
}

.pro-list-item:hover{
    box-shadow: rgb(60, 59, 59) 20px 20px 10px;
}

.pro-list-item-active{
    background-color: blanchedalmond;
    overflow: hidden;
    width: 600px;
    /* max-height: 90vh; */
    border-radius: 3px;
    padding: 1rem;
}

.pro-list-item-active-edit{
    background-color: blanchedalmond;
    overflow: hidden;
    width: 600px;
    max-height: 90vh;
    height: 600px;
    border-radius: 3px;
    padding: 1rem;
}

.pro-list-item-active > div {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  /* grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 10% 10% 10% 10% 10% 10%; */
  height: 100%;
  width: 100%;
  animation: fade 1s forwards;
}

.pro-list-item-active-edit > div {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 10% 10% 10% 10% 10% 10%;
    height: 100%;
    width: 100%;
    animation: fade 1s forwards;
  }

.quote {
    grid-column: 1/11;
    grid-row: 9/11;
}

.comments {
    grid-column: 1/11;
    grid-row: 12/14;
    background-color: lightgrey;
    opacity: 1;
    padding: 5px;
    text-align: left;
}

.reference-span{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    display: block;
    font-style: italic;
}

.reference-span a{
    text-decoration: none;
    border-bottom: solid 1px blue
}

.pro-list-item-active h2 {
    grid-column: 1/7;
    grid-row: 1/7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-image-container {
    grid-column: 7/11;
    grid-row: 1/7;
    position: relative;
    overflow: hidden;
    align-self: center;
    justify-self: center;
}

.active-image-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
    max-width: 100%;
}

.active-image-container-edit {
    grid-column: 7/11;
    grid-row: 2/7;
    position: relative;
    overflow: hidden;
    text-align: left;
}

.active-image-container-edit img {
    max-height: 150px;
}

.pro-list-item h2{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  /* animation: fade 2s forwards; */
}

.pro-list-item p{
    display: inline-block;
    width: 90%;
    font-size: 14px;
    font-style: italic;
}

.collapsed-quote-container {
    grid-column: 1/5;
    grid-row: 2/4;
    position: relative;
    margin-bottom: 10px;
}

.quote-container {
    grid-column: 1/5;
    grid-row: 3/5;
    position: relative;
    margin-bottom: 10px;
}

.quote-container p{
    margin-bottom: 0;
    margin-top: 8px;
    line-height: 1.8
}

.read-more{
    position: absolute; 
    text-align: right;
    bottom: 0;
    right: 0;
    width: 50%; 
    height: 1.5em;
    margin: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(183, 193, 250) 60%);
}

.image-container{
    width: 100%;
    height: 160px;
    /* animation: fade 2s forwards; */
    background-color: #ffffff;
    
}

.image {
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-input {
    grid-column: 1/6;
    grid-row: 2/3;
    font-size: 15px;
    align-self: start;
}

.title-label{
    grid-column: 1/2;
    grid-row: 1;
    font-size: 18px;
    align-self: end;
    text-align: left;

}

.confirm-button {
    margin: 5px;
    grid-column: 5/7;
    grid-row: 14;
    height: 50%;
    align-self: end;
}

.cancel-button {
    margin: 5px;
    position: absolute;
    right:0;
    top:0;
}

.quote-input {
    grid-column: 1/11;
    grid-row: 9/11;
}

.quote-label {
    text-align: left;
    grid-column: 1/6;
    grid-row: 8;
    font-size: 18px;
    align-self: end;
}

.quote-ref-label {
    grid-column: 1/4;
    grid-row: 3;
    font-size: 18px;
    align-self: end;
    text-align: left;
}

.quote-ref-input {
    grid-column: 1/6;
    grid-row: 4;
    font-size: 15px;
    align-self: start;
}

.quote-link-label {
    grid-column: 1/4;
    grid-row: 5;
    font-size: 18px;
    align-self: end;
    text-align: left;

}

.quote-link-input {
    grid-column: 1/6;
    grid-row: 6;
    font-size: 15px;
    align-self: start;
}

.description-label {
    grid-column: 1/6;
    grid-row: 11;
    font-size: 18px;
    align-self: end;
    text-align: left;
}
.description-input {
    grid-column: 1/11;
    grid-row: 12/14;
}

.edit-button {
    margin: 5px;
    grid-column: 4/6;
    grid-row: 14;
    height: 80%;
    align-self: end;
}

.delete-button {
    margin: 5px;
    grid-column: 6/8;
    grid-row: 14;
    height: 80%;
    align-self: end;
}

.collapse-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
    /* grid-column: 10;
    grid-row: 1; */
    position: absolute;
    left:0;
    top:0;
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.collapse-button:hover {
    background-color: rgb(185, 185, 185)
}

.image-upload-label{
    grid-column: 7/10;
    grid-row: 1;
    text-align: left;
    align-self: end;
    font-size: 18px;
}

.image-upload-input{
    grid-column: 7/11;
    grid-row: 7;
}

@media only screen and (max-width: 420px) {
    .quote-container {
        display: none;
    }

    .pro-list-ul{
        grid-template-columns: repeat(auto-fit, 100%);
        grid-gap: 10px;
    }

    .pro-list-item{
        height: 100px;
    }

    .pro-list-item > div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-items: flex-start;
    }

    .pro-list-item h2 {
        font-size: 14px;
        width: 60%;
    }

    .pro-list-item-active {
        /* height: 80vw; */
        width: 90vw;
    }

    .pro-list-item-active h2{
        /* height: 80vw; */
        font-size: 19px;
        grid-row: 1/4;
        grid-column: 1/11;
    }

    .pro-list-item-active-edit{
        width: 90vw;
    }

    .con-list-item{
        height: 100px;
    }

    .con-list-item > div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-items: flex-start;
    }

    .con-list-item h2 {
        font-size: 14px;
        width: 60%;
    }

    .con-list-item-active {
        width: 90vw;
    }

    .con-list-item-active-edit{
        width: 90vw;
    }

    .congress-list-item{
        height: 100px;
    }

    .congress-list-item > div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-items: flex-start;
    }

    .congress-list-item h2 {
        font-size: 14px;
        width: 60%;
    }

    .congress-list-item-active {
        width: 90vw;
    }

    .congress-list-item-active-edit{
        width: 90vw;
    }

    .active-image-container {
        grid-column: 1/11;
        grid-row: 4/7;
        
    }

    .image-container {
        height: 100px;
        display: flex;
        width: 40%;
        /* justify-content: center; */
        align-items: center;
    }

    .image{
        max-width: 100%;
    }

    .filter-bar{
        height: 40px;
    }

    .quote-ref-label{
        grid-column: 1/6;
    }

    
}