.feedback-modal-container {
    width: 300px;
    height: 200px;
}

.feedback-modal-header {
    font-size: 20px;
}

.center-loader{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.feedback-modal-container {
    /* position: absolute; */
    right:0;
    left:0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-modal-close-button {
    position: absolute;
    right:0;
    left:0;
    margin-right: auto;
    margin-left: auto;
    bottom: 10px;
    cursor: pointer;
    background-color: rgb(187, 187, 187);
    width: 50px;
    padding: 10px;
    border-radius: 5%;
    border: solid rgb(187, 187, 187) 2px;
    transition: border-color 0.3s;
}

.feedback-modal-close-button:hover {
    border-color: rgb(92, 92, 92);
}

.feedback-modal-close {
    position: absolute;
    right: 5px;
    top: -10px;
    cursor: pointer;
    color: rgb(109, 109, 109);
    font-size: 30px;
    transition: color 0.3s;
}

.feedback-modal-close:hover {
    color: rgb(48, 48, 48);
}