/* body{
    background-color: rgb(64, 93, 255);
    
} */

.Feedback {
    text-align: center;
    background-color:#aed5e5;
    position: relative;
    max-width: 1500px;
    margin-left:auto;
    margin-right: auto;
    min-height: 100vh;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.feedback-body{
    font-family: Libre Franklin;
    justify-content: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.feedback-body h2{
    font-size: 25px;
}

.feedback-form{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.feedback-input-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    min-width: 380px;
}

.feedback-button-container{
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.feedback-button-container label{
    background-color: rgb(220, 220, 220);
    width: 100px;
    border-radius: 5px;
    border: solid rgb(138, 138, 138) 2px;
    cursor: pointer;
}

.feedback-input-container input{
    font-size: 20px;
}

.feedback-input-container select{
    font-size: 20px;
}

.input-error{
    outline: solid rgb(255, 0, 0) 2px;
}

.feedback-textarea-container{
    width: 92%;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 10px;
}

.feedback-textarea-container textarea{
    font-size: 20px;
    width: 650px;
    height: 255px;
}

.character-limit{
    position: absolute;
    right:5px;
    bottom: 0;
    font-size:14px;
}

#subject-container{
    width: 92%;
}


#subject-container select{
    width: 657px;
    
}


@media only screen and (max-width: 420px) {

    .feedback-body{
        max-width: 100%;
        font-size: 12px;
    }

    .feedback-text-1 {
        font-size: 16px;
        max-width: 85%;
    }

    .feedback-body h2{
        font-size: 15px;
    }

    .feedback-input-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 5px;
        min-width: 100px;
    }

    .feedback-input-container input{
        font-size: 12px;
    }
    
    .feedback-input-container select{
        font-size: 12px;
    }

    #subject-container{
        flex-direction: column;
        width: 100%;
    }

    #subject-container label{
        align-self: flex-start;
        
    }

    #subject-container select{
        width: 100%;
        font-size: 10px;
    }

    .feedback-textarea-container {
        flex-direction: column;
        margin: 5px;
        width: 100%;
    }

    .feedback-textarea-container label{
        align-self: flex-start;
    }

    .feedback-textarea-container textarea{
        font-size: 12px;
        width: 100%;
        height: 240px;
        align-self: center;
    }
    
}

@media only screen and (max-width: 374px) {

}