/* Dropdown Button */
.pro-filter-dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }
  
  /* Dropdown button on hover & focus */
  .pro-filter-dropbtn:hover, .pro-filter-dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .pro-filter-dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .pro-filter-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .pro-filter-dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    background-color: beige
  }

  .pro-filter-dropdown-content label:hover {
    
    background-color: rgb(160, 160, 141)
  }

  .show {display:block;}