body{
    background-color: rgb(166, 175, 194);
    /* overflow: hidden; */
}
.Home {
    text-align: center;
    background-color: #aed5e5;
    position: relative;
    max-width: 1500px;
    margin-left:auto;
    margin-right: auto;
    min-height: 100vh;
    padding-bottom: 50px;
    box-sizing: border-box;
    /* overflow-y: hidden; */
}

.no-scroll {
    /* overflow: hidden; */
    /* height: 3000px */
}

/* container for page banner which has two headers and possibly the sit menu */
.home-banner-container{
    /* padding-top: 10px; */
    position: relative;
    width: 100%;
    height: 180px;
    font-size: 20px;
    /* background-color: #2e81b8; */
    background-image: url(https://res.cloudinary.com/siouxcitymusic/image/upload/v1549348895/horizon6.png);
    background-size: auto 100%;
    background-position: center;
    color: white;
    /* filter: blur(10px) */
}

.home-banner-transparency{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://res.cloudinary.com/siouxcitymusic/image/upload/v1549334732/png-seamless-chainlink-fence.png);
    opacity: 1;
    background-size: 60px;
    
}

.logo-image-container{
    position: absolute;
    width: 150px;
    height: 150px;
    top:0;
    bottom:0;
    margin-top: auto;
    margin-bottom: auto;
    left: 20px;
}

.logo-image{
    height: 100%
}

.home-title{
    font-size: 40px;
    position: absolute;
    left: 30px;
    margin-top: 40px;
}

.home-sub-title{
    font-size: 25px;
    position: absolute;
    left: 30px;
    margin-top: 95px;
}

.home-header{
    box-shadow: 0px 10px 40px -10px black;
}

.home-header-menu{
    margin-top: 75px;
    position: absolute;
    right: 5px;
    display: flex;
    /* width: 30%; */
    font-size: 25px;
}

.ham-menu{
 cursor: pointer;
}

.ham-menu-bar {
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
}

.home-header-menu nav{
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s color;
    font-style: bold;
}

.home-header-menu nav:last-child{
    display: none;
}

.home-header-menu a{
    text-decoration: none;
    color: inherit;
}

.home-header-menu nav:hover{
    color: rgb(107, 107, 107);
}

.yellow-banner {
    background-color: #FFCB05;
    height: 40px;
    line-height: 38px;
    /* border-top: dashed black 2px; */
    /* border-bottom: dashed black 2px; */
    font-family: Oswald;
    font-size: 20px;
    /* z-index: 1; */
   
}


.yellow-banner-border {
    height: 100%;
}

.yellow-banner::before{
    content: '';
      position: absolute;
      display: block;
      height: 5px;
      width: 100%;
      background: #000000;
      background: repeating-linear-gradient(
        -45deg,
        #000000,
        #000000 12px,
        transparent 10px,
        transparent 23px
      );
      /* border-bottom: solid black 3px; */
      /* top: 3px; */
      /* z-index: 2; */
}

.yellow-banner::after{
    content: '';
      position: relative;
      display: block;
      height: 5px;
      width: 100%;
      background: #000000;
      background: repeating-linear-gradient(
        -45deg,
        #000000,
        #000000 12px,
        transparent 10px,
        transparent 23px
      );
      bottom: 3px;
      /* border-top: solid black 3px; */
      /* z-index: 2; */
}

.home-footer{
    border-top: solid black 2px;
    height: 50px;
    color: rgb(89, 89, 89);
    background-color: rgb(169, 202, 230);
}
.home-footer nav{
    display: inline-block;
    margin-left: 90px;
    cursor: pointer;
    transition: 0.3s color;
    font-style: bold;
}

.home-footer nav:hover{
    color: white;
}

.landing-text-1{
    font-family: Poppins;
}

.landing-text-2{
    font-family: Poppins;
}

.landing-text-3{
    font-family: Poppins;
}

.landing-text-4{
    font-family: Poppins;
}

/* container for the three different 'column' header buttons */
.column-header-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-family: Francois One;
    /* background-color: #88BBE9; */
}

/*class for the hover effect div on each column header button */
.column-header-hover{
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)); */
    opacity: 0.6;
    pointer-events: none;
    /* border-radius: 5px; */
    transition: height 0.5s, bottom 0.5s;
    z-index: 0;
    bottom:0;
}

.column-header-hover-white{
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    /* background-image: radial-gradient(circle, white, rgba(255, 255, 255, 0)); */
    opacity: 0.3;
    pointer-events: none;
    /* border-radius: 5px; */
    transition: height 0.5s, bottom 0.5s;
    z-index: 0;
    bottom: -100%;
}

/* header button/div for those in favor of new NAFTA */
.for-header {
    position: relative;
    display: flex;
    /* top: 0; */
    height: 75%;
    width: 30%;
    background-image: url('https://nuovonovalis.files.wordpress.com/2014/05/cigar_chomping_liberals.jpg');
    background-position: center;
    background-size: cover;
    /* border-top: solid black 2px;
    border-left: solid black 2px;
    border-bottom: solid black 2px; */
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
    box-sizing: border-box;
    font-size: 30px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0px 10px 40px -10px black;
    border-radius: 5px;
    overflow: hidden;
}

.for-header span{
    width: 100%;
    height: 100%;
    z-index: 1;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.for-header:hover {
    color: black;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.for-header:hover .column-header-hover{
    /* height: 0%; */
    bottom: 100%;
}

.for-header:hover .column-header-hover-white{
    bottom: 0;
}

/* header button/div for those against new NAFTA */
.con-header {
    display: flex;
    position: relative;;
    height: 75%;
    width: 30%;
    /* left: 33.33%; */
    background-image: url('https://res.cloudinary.com/siouxcitymusic/image/upload/v1549571378/grass-plant-field-meadow-wheat-grain-750831-pxhere.com.jpg');
    /* border: solid black 2px; */
    background-size: cover;
    background-position-y: -20px;
    box-sizing: border-box;
    font-size: 30px;
    color: white;
    transition: all 0.5s;
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
    cursor: pointer;
    box-shadow: 0px 10px 40px -10px black;
    border-radius: 5px;
    overflow: hidden;
}

.con-header span{
    width: 100%;
    height: 100%;
    /* margin: auto; */
    z-index: 1;
    /* transition-delay: 0.3s; */
    /* justify-self: center;
    align-self: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.con-header:hover {
    color: rgb(0, 0, 0);
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.con-header:hover .column-header-hover{
    bottom: 100%;
}

.con-header:hover .column-header-hover-white{
    bottom: 0;
}

/* header button/div for members of congress' stances */
.congress-header {
    display: flex;
    position: relative;
    height: 75%;
    width: 30%;
    /* left: 66.66%; */
    background-image: url('https://res.cloudinary.com/siouxcitymusic/image/upload/v1549580389/louis-velazquez-588272-unsplash.jpg');
    background-position-y: center;
    background-size: 100%;
    /* border-top: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 2px; */
    box-sizing: border-box;
    font-size: 30px;
    color: white;
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0px 10px 40px -10px black;
    border-radius: 5px;
    overflow: hidden;
}

.congress-header span{
    /* position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px; */
    margin: auto;
    z-index: 1;
}

.congress-header:hover .column-header-hover{
    bottom: 100%;
}

.congress-header:hover .column-header-hover-white{
    bottom: 0;
}

.congress-header:hover {
    color: black;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.search-input{
    height: 25px;
    font-size: 15px;
    margin-right:15px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  padding: 0;
}

.loader-container{
    height: 600px;
}

.signing-photo{
    float: right;
    height: 300px;
    box-shadow: -10px 10px 40px -10px black;
    margin: 20px;
    /* border: solid rgba(63, 63, 63, 0.474) 2px; */
    border-radius: 5px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .landing-page-text-container {
      padding-top: 10px;
  }

  .landing-text-1 {
      margin-right: auto;
      margin-left:auto;
      font-size: 22px;
      max-width: 70%;
      text-align: left;
  }

  .landing-text-2 {
    margin-right: auto;
    margin-left:auto;
    font-size: 22px;
    max-width: 70%;
    text-align: left;
}

.landing-text-3 {
    margin-right: auto;
    margin-left:auto;
    font-size: 22px;
    max-width: 70%;
    text-align: left;
}

.landing-text-4 {
    margin-right: auto;
    margin-left:auto;
    font-size: 22px;
    max-width: 70%;
    text-align: left;
}

@media only screen and (max-width: 420px) {

    
    /* .home-header-menu nav:not(:last-child){
        display: none;
    }

    .home-header-menu nav:last-child {
        display: block;
    } */

    .home-banner-container{
        
        height: 120px;
        
        
    }

    .logo-image-container{
        
        height: 80px;
        width: 120px;
        left: 5px;
    }


    .home-header-menu{
        margin-top: 50px;
        right: 0px;
        font-size: 20px;
    }

    .yellow-banner {
        
        font-size: 13px;
        
       
    }

    .for-header{
        background-size: auto 100%;
    }

    .for-header span{
        font-size: 17px;
        
    }
    
    .con-header {
        background-size: auto 100%;
        background-position-y: 0;
    }

    .con-header span{
        font-size: 17px;
    }

    .congress-header{
        background-size: auto 100%;
    }

    .congress-header span{
        font-size: 17px;
    }

    .column-header-container{
        height: 120px;
    }

    .landing-text-1 {
        font-size: 16px;
        max-width: 85%;
    }
  
    .landing-text-2 {
        font-size: 16px;
        max-width: 85%;
    }
  
    .landing-text-3 {
        font-size: 16px;
        max-width: 85%;
    }
  
    .landing-text-4 {
        font-size: 16px;
        max-width: 85%;
    }

    .loader{
        width: 80px;
        height: 80px;
        border: 12px solid #f3f3f3;
        border-top: 12px solid #3498db;
        
    }

    .signing-photo{
        /* float: left; */
        height: auto;
        width: 90%;
        box-shadow: -10px 10px 40px -10px black;
        margin: 20px;
        /* border: solid rgba(63, 63, 63, 0.474) 2px; */
        border-radius: 5px;
    }
}

@media only screen and (max-width: 374px) {
    .yellow-banner {
        font-size: 11px;
    }

    .for-header span{
        font-size: 14px;
        
    }

    .con-header span{
        font-size: 14px;
    }

    .congress-header span{
        font-size: 14px;
    }
}