.Home {
    text-align: center;
}

/* container for page banner which has two headers and possibly the sit menu */
.home-banner-container{
    /* padding-top: 10px; */
    width: 100%;
    height: 100px;
    font-size: 20px;
    background-color: rgb(1, 1, 148);
    color: white;
}

.home-title{
    font-size: 30px;
    position: absolute;
    left: 30px;
    margin-top: 30px;
}

.home-sub-title{
    font-size: 15px;
    position: absolute;
    left: 30px;
    margin-top: 65px;
}

.home-header-menu{
    margin-top: 40px;
    position: absolute;
    right: 10px;
    display: flex;
    /* width: 30%; */
}

.home-header-menu nav{
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s color;
}

.home-header-menu nav:hover{
    color: black;
}

/* container for the three different 'column' header buttons */
.column-header-container {
    width: 100%;
    height: 150px;
    display: flex;
    position: absolute;
}

/*class for the hover effect div on each column header button */
.column-header-hover{
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    opacity: 0.6;
    pointer-events: none;
    transition: height 0.5s;
}

/* header button/div for those in favor of new NAFTA */
.for-header {
    position: absolute;
    top: 0;
    height: 100%;
    width: 33.33%;
    background-image: url('https://nuovonovalis.files.wordpress.com/2014/05/cigar_chomping_liberals.jpg');
    background-position: center;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-bottom: solid black 2px;
    box-sizing: border-box;
    font-size: 30px;
    color: white;
    transition: color 0.5s;
    cursor: pointer;
}

.for-header span{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
}

.for-header:hover {
    color: black;
}

.for-header:hover .column-header-hover{
    height: 0%;
}

/* header button/div for those against new NAFTA */
.con-header {
    display: block;
    position: absolute;
    height: 100%;
    width: 33.33%;
    left: 33.33%;
    background-image: url('https://as1.ftcdn.net/jpg/00/83/13/94/500_F_83139423_jB7UufgedPD7EI31mvqcBWpBgnpU4bLd.jpg');
    border: solid black 2px;
    box-sizing: border-box;
    font-size: 30px;
    color: white;
    transition: color 0.5s;
    cursor: pointer;
}

.con-header span{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
}

.con-header:hover {
    color: black;
}

.con-header:hover .column-header-hover{
    height: 0%;
}

/* header button/div for members of congress' stances */
.congress-header {
    display: block;
    position: absolute;
    height: 100%;
    width: 33.33%;
    left: 66.66%;
    background-image: url('https://as2.ftcdn.net/jpg/00/65/35/01/500_F_65350108_Lp9kpNGF2iNSSOeLNqsKq1RifAmCXq3j.jpg');
    background-position-y: center;
    border-top: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    box-sizing: border-box;
    font-size: 30px;
    color: white;
    transition: color 0.5s;
    cursor: pointer;
}

.congress-header span{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
}

.congress-header:hover .column-header-hover{
    height: 0%;
}

.congress-header:hover {
    color: black;
}